@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
body {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  color: #777;
  font-size: .95rem;
}

.box {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Roboto';
  font-size: 24px;
}

a {
  font-weight: bold;
}

header {
  border-bottom: 1px solid #e7e7e7;
}

header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.75rem;
  color: #292929;
  padding: 0 30px;
  border-right: 1px solid #e7e7e7;
}

.header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header-cont__list {
  position: relative;
  font-size: 0.9rem;
  margin-left: 30px;
  text-decoration: none;
  color: #292929;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.header-cont__list:hover {
  color: #6d6d6d;
}

.header-cont__list:hover::before {
  width: 97%;
}

.header-cont__list::before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  background: #292929;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.header-cont__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  color: #FF0040;
  font-size: .875rem;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 3px;
  border: 1px solid #FF004066;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background .22s ease-in 0s;
  transition: background .22s ease-in 0s;
  background-color: white;
  margin-left: auto;
  text-decoration: none;
}

.header-cont__send:hover {
  background: #FF0040;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f1f1f1;
}

.header-cont__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  padding-right: 30px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  color: #1f1f1f;
  border-right: 1px solid #e7e7e7;
}

.header-cont__login span {
  position: relative;
}

.header-cont__login span:hover {
  color: #6d6d6d;
}

.header-cont__login span:hover::before {
  width: 97%;
}

.header-cont__login span::before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  background: #292929;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.header-cont__search {
  font-size: 1.1rem;
  margin-left: 30px;
  margin-right: 60px;
  color: #1f1f1f;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.header-cont__search:hover {
  color: #6d6d6d;
}

.wrapper-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.wrapper-cont__title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 14px;
  color: #929292bc;
}

.wrapper-cont__left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.wrapper-cont__left .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-cont__left .news-list .list-item:first-child {
  padding-top: 30px;
}

.wrapper-cont__left .news-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #e7e7e7;
}

.wrapper-cont__left .news-list .list-item__prew {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

.wrapper-cont__left .news-list .list-item__title {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  color: #212121;
  text-decoration: none;
  margin-bottom: 1rem;
}

.wrapper-cont__left .news-list .list-item__descr {
  margin-bottom: 1rem;
}

.wrapper-cont__left .news-list .list-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-cont__left .news-list .list-item__date {
  margin-left: 25px;
}

.wrapper-cont__left .news-list .list-item__img {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-cont__left .news-list .list-item__img img {
  width: 90%;
  margin: 0 0 auto auto;
}

.wrapper-cont__right {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
/*# sourceMappingURL=style.css.map */